<!DOCTYPE html>
@{
    var username = new Byte[40];
    var userid = new Byte[40];
    var admin = new Byte[40];
    var ip = new Byte[40];
    var conexion = new Byte[40];
    ViewData["User"] = null;
    ViewData["UserId"] = null;
    ViewData["IP"] = null;
    ViewData["Admin"] = null;
    ViewData["Conexion"] = null;

    if(this.Context.Session.TryGetValue("UserName",out username))
    {
        ViewData["User"] = System.Text.Encoding.UTF8.GetString(username);
    }
    if (this.Context.Session.TryGetValue("UserId", out userid))
    {
        ViewData["UserId"] = System.Text.Encoding.UTF8.GetString(userid);
    }
    if (this.Context.Session.TryGetValue("Admin", out admin))
    {
        ViewData["Admin"] = System.Text.Encoding.UTF8.GetString(admin);
    }
    if (this.Context.Session.TryGetValue("IP", out ip))
    {
        ViewData["IP"] = System.Text.Encoding.UTF8.GetString(ip);
    }
    if (this.Context.Session.TryGetValue("Conexion", out conexion))
    {
        ViewData["Conexion"] = System.Text.Encoding.UTF8.GetString(conexion);
    }

    
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FRONT</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FRONT.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">

</head>
<body >
    <header>       
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
            <span class="image"><img class="logo" src="~/images/logo.png" width="60px"/></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    @if (ViewData["Admin"] != null)
                    {
                        <li class="nav-item">
                            <a class="navbar-brand text-20 " asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <div class="divider"></div>
                        </li>

                       
                        <li class="nav-item">
                            <a class="navbar-brand text-20 " asp-area="" asp-controller="MasterUsers" asp-action="Index">Usuarios</a>
                        </li>

                        <li class="nav-item">
                            <a class="navbar-brand text-20 " asp-area="" asp-controller="MasterProductos" asp-action="Index">Productos</a>
                        </li>

                        <li class="nav-item">
                            <a class="navbar-brand text-20 " asp-area="" asp-controller="MasterPedido" asp-action="Index">Pedidos</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="navbar-brand text-20 " asp-area="" asp-controller="Catalogo" asp-action="Index">Catalogo de Productos</a>
                    </li>
                    
                    <li class="nav-item">
                        <div class="divider"></div>
                    </li>
                    
                    @if (ViewData["User"] == null)
                    {
                        <li class="nav-item"><a class="navbar-brand text-20 " id="register" asp-area="" asp-controller="Home" asp-action="Register">Registro</a></li>
                        <li class="nav-item"><a class="navbar-brand text-20 " id="login" asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="navbar-brand text-20 " id="userid" asp-area="" asp-controller="MasterUsers" asp-action="Edit" asp-route-id="@ViewData["UserId"]">
                                @ViewData["User"]
                            </a>                           
                        </li>
                    }
                    
                </ul>
            </div>
        </nav>
    </header>

    <div class="container px-4 px-lg-5 h-100">
        <div class="row">
            
            <div class="align-self-baseline">
                @RenderBody()
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Tienda Online
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
