################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/BLL/obj
/CORE/obj
/WEB/bin
/DAL/obj