################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/BLL/obj
/BLL/bin
/CORE/obj
/CORE/bin
/DAL/obj
/DAL/bin
/FRONT/bin/
/FRONT/obj
/WEB

