@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="opacity: 1 !important">Welcome to Admin Center</h1>

</div>
<div style="background-image: url('images/IA.jpg'); opacity: 0.3; height: 400px;" class="text-center">
    <h3 class="display-4" style="opacity: 1 !important">


    </h3>
    
</div>
