@model List<ECOMMERCE.CORE.EntityUser>
@{
    ViewBag.Title = "Lista de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <a class="btn btn-primary" asp-area="" asp-controller="MasterUsers" asp-action="Create" >Crear</a>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre Usuario</th>              
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.ididentifier_i</td>
                    <td>@user.name_nv</td>
                    

                    <td class="text-center">
                        <a class="btn btn-primary" asp-area="" asp-controller="MasterUsers" asp-action="Edit" asp-route-id="@user.ididentifier_i">Ficha</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>